:root {
  --bg-primary: #11071f;
  --bg-secondary: #1a0b2e;
  --bg-tertiary: #6d38a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  color: white;
}

